.container {
    display: flex;
    gap: var(--header-gap, var(--gap-400, 16px));
    align-items: center;
    padding: var(--layout-header-padding-y, var(--padding-400, 16px)) var(--layout-header-padding-x, var(--padding-400, 16px));
    background-color: var(--layout-header-background, var(--primary-background-100));
    border-bottom: 1px solid var(--layout-header-border-bottom, var(--primary-background-200));

    @media only screen and (max-width: 767px) {
        padding: var(--layout-header-padding-y, var(--padding-400, 16px)) var(--layout-header-padding-x, var(--padding-200, 8px));
    }
}

.left {
    flex: 1 1 0%;
}

.center {
    display: flex;
    width: 100%;
    padding-inline: var(--padding-400, 16px);

    @media only screen and (max-width: 767px) {
        justify-content: center;
    }
}

.right {
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    justify-content: flex-end;
    gap: var(--layout-header-right-gap, var(--gap-300, 12px));
}