.container {
    display: flex;
    flex: 1;
    width: 100%;
    overflow: hidden;

    &[data-orientation="horizontal"] {
        flex-direction: row;
    }

    &[data-orientation="vertical"] {
        flex-direction: column;
    }
}