.container {
    display: flex;
    flex-direction: column;
    gap: var(--course-gap, var(--gap-300, 12px));
    width: var(--course-width, 280px);
    border-radius: var(--course-border-radius, var(--radius-600, 12px));
}

/* .top {
    & > *:[data-device="mobile"] {
        display: none;
    }
} */

.middle {
    display: flex;
    flex-direction: column;
    gap: var(--course-middle-gap, var(--gap-400, 16px));
    
}

.breadcrumb {
    &[data-device="mobile"] {
        display: none;
    }
}

.actions {
    display: flex;
    gap: var(--course-bottom-gap, var(--gap-300, 12px));
}

.price {
    display: flex;
    justify-content: space-between;

    .left,
    .right {
        display: flex;
        align-items: center;
        gap: var(--gap-100, 4px);
    }

    .new {
        color: var(--course-price-new-text-color, var(--accent-brand-400));
        letter-spacing: var(--course-price-new-letter-space, 0);
    }

    .old {
        font-size: var(--course-price-old-font-size, var(--size-400, 16px));
        line-height: var(--course-price-old-line-height, 1);
        color: var(--course-price-old, var(--primary-background-400));
        text-decoration: line-through;
    }
}

.metadata {
    display: none;

    .top {
        display: flex;
        flex-direction: row;
        gap: var(--course-metadata-gap-200, 8px);
    }

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--course-metadata-list-gap, var(--gap-400, 16px));
        list-style: none;
        padding: 0;
        margin: 0;

        .item {
            display: flex;
            align-items: center;
            gap: var(--course-metadata-list-item-gap, var(--gap-300, 12px));
            padding: var(--course-metadata-list-item-padding-y, var(--padding-200, 8px)) var(--course-metadata-list-item-padding-x, var(--padding-400, 16px));
            border-width: var(--course-metadata-list-item-width, 1px);
            border-style: var(--course-metadata-list-item-style, solid);
            border-color: var(--course-metadata-list-item-color, var(--primary-background-300));
            border-radius: var(--course-metadata-list-item-radius, var(--radius-400, 8px));
        }
        
        .card {
            border: none;
        }
    }

    .left {
        display: flex;
        align-self: center;
        color: var(--course-metadata-left-icon-text-color, var(--accent-brand-400));
    }

    .right {
        display: flex;
        flex-direction: column;
    }

    .title {
        flex-grow: 1;
    }

    .label {
        color: var(--course-metadata-label-text-color, var(--primary-text-500));
        font-size: var(--course-metadata-label-font-size, var(--size-400, 16px));
        font-weight: var(--course-metadata-label-font-weight, 400);
        line-height: var(--course-metadata-label-line-height, var(--size-500, 20px));
        letter-spacing: var(--course-metadata-label-letter-spacing, 0.8px);
    }

    .value {
        color: var(--course-metadata-value-text-color, var(--primary-text-400));
        font-size: var(--course-metadata-value-font-size, var(--size-400, 16px));
        font-weight: var(--course-metadata-value-font-weight, 700);
        line-height: var(--course-metadata-value-line-height, var(--size-500, 20px));
        letter-spacing: var(--course-metadata-value-letter-spacing, 0.8px);
    }
}

@media only screen and (min-width: 1025px) {
    /* &-header { 
        padding-right: calc(var(--course-width, 380px) + 40px);
    }
    &-body {
        padding-right: calc(var(--course-width, 380px) + 40px);
    } */
    .container {
        position: fixed;
        top: 94px;
        right: 24px;
        gap: var(--course-gap, var(--gap-400, 16px));
        width: var(--course-width, 380px);
        background-color: var(--course-background-color, var(--primary-background-100));
        border-width: var(--course-border-width, 1px);
        border-style: var(--course-border-style, solid);
        border-color: var(--course-border-color, var(--primary-background-300));
        padding: var(--course-padding-y, var(--padding-400, 16px)) var(--course-padding-x, var(--padding-400, 16px));
        /* @media (prefers-color-scheme: dark) {
            background-color: var(--course-background-color, var(--primary-background-200));
        } */
    }  

    .top {
        display: flex;
        flex-direction: column;
    }

    .actions {
        display: flex;
    }

    .metadata {
        display: flex;
        flex-direction: column;
        gap: var(--gap-200, 8px);
    }
} 

/* @media only screen and (max-width: 1024px) { 
    &-body {
        padding: var(--course-details-body-padding-y, var(--padding-400, 16px)) var(--course-details-body-padding-x, var(--padding-400, 16px));  
        .course-metadata { 
            display: block; 
            &-list { 
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
    &-form {
        padding: var(--course-details-form-padding-y, var(--padding-400, 16px)) var(--course-details-form-padding-x, var(--padding-400, 16px));
    }
}

@media only screen and (max-width: 800px) {
    &-body {
        .course-metadata {
            &-list {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    &-breadcrumb {
        &-desktop {
            display: none;
        }
        &-mobile {
            display: block;
        }
    }

    &-card {
        width: 100%;
        position: relative;
        z-index: 2;
        &-top {
            display: flex;
            flex-direction: column;
            gap: var(--gap-400, 16px);
        }
        &-bottom {
            position: relative;
            z-index: 10;
        }
        &-actions {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 16px;
            background-color: var(--primary-background-100);
            border-top: 1px solid var(--primary-background-300);
        }
    }

    &-body {
        padding-bottom: 92px !important;
    }
} */