.container {
    display: flex;
    flex-direction: column;
    gap: var(--form-gap, var(--gap-600, 24px));
}

.show-discounts {
    display: flex;
    gap: var(--show-discounts-gap, var(--gap-200, 8px));
}

.rows {
    display: flex;
    flex-direction: column;
    gap: var(--form-rows, var(--gap-400, 16px));

}

.field {
    display: grid;
    grid-template-columns: max-content;
    grid-column: span 3 / span 3;
    gap: var(--form-field-gap, var(--gap-200, 8px));
}

.row {
    display: grid;
    gap: var(--form-row-gap, var(--gap-200, 8px));
    align-items: flex-start;



    .items {
        display: flex;
        flex-direction: column;
        gap: var(--form-row-items-gap, var(--gap-600, 24px));
    }

    &[data-cols="1"] {
        grid-template-columns: 1fr;
    }   

    &[data-cols="2"] {
        position: relative;
        padding-bottom: var(--form-row-padding-bottom, var(--padding-300, 12px));
        grid-template-columns: 1fr;
        &:not(:first-child) {
            padding-top: var(--form-row-padding-top, var(--padding-300, 12px));
        }

        .row-details {
            display: grid;
            gap: var(--form-row-details-gap, var(--gap-100, 4px));
            align-content: flex-start;
        }

        .label {
            font-size: var(--form-label-font-size, calc(var(--size-400, 16px) - var(--size-100, 4px) / 2));
            font-weight: var(--form-label-font-weight, 500);
        }

        .description {
            color: var(--form-description-color, var(--primary-text-500));
        }
    }

    @media only screen and (min-width: 768px) {
        &[data-cols="2"] {
            grid-template-columns: min-content minmax(260px, 600px);
            padding-top: var(--form-row-padding-top, var(--padding-600, 24px));
            padding-bottom: var(--form-row-padding-bottom, var(--padding-600, 24px));

            .row-details {
                min-width: 360px;
            }
        } 
    }
    @media only screen and (min-width: 1920px) {
        &[data-cols="2"] {
            grid-template-columns: min-content minmax(260px, 800px);

            .row-details {
                min-width: 500px;
            }
        }
    }
}

.row-details {
    display: flex;
    flex-direction: column;
    gap: var(--form-row-details-gap, var(--gap-100, 4px));
}

.row-fields {
    display: flex;
    flex-direction: column;
    gap: var(--form-row-details-gap, var(--gap-100, 4px));
}

.row-radiobox {
    display: flex;
    align-items: center;
    gap: var(--form-radiobox-gap, var(--gap-300, 12px));
    padding: var(--form-radiobox-padding, var(--padding-600, 24px));
    border-width: var(--form-radiobox-border-width, 1px);
    border-style: var(--form-radiobox-border-style, solid);
    border-color: var(--form-radiobox-border-default, var(--primary-background-300));
    border-radius: var(--form-radiobox-border-radius, var(--radius-600, 12px));
    width: 100%;
    .radiobox {
        &[data-mode=outline] {
            &[data-shade="200"] {
                border-color: var(--form-radiobox-input-border-default, var(--primary-background-300));
                background-color: var(--form-radiobox-input-background-default, var(--primary-background-100));
            }
        }
    }
    &[data-selected="true"] {
        border-color: var(--form-radiobox-border-selected, var(--accent-brand-400));
        color: var(--form-radiobox-text-selected, var(--accent-brand-400));
        position: relative;
        overflow: hidden;
        z-index: 1;
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--form-radiobox-background-selected, var(--accent-brand-400));
            opacity: 0.1;
            z-index: -1;
        }
        .radiobox {
            &[data-mode=outline] {
                &[data-shade="200"] {
                    border-color: var(--form-radiobox-input-border-selected, var(--accent-brand-400));
                    background-color: var(--form-radiobox-input-background-selected, var(--primary-background-100));
                }
            }
        }
    }
}

.label {
    font-size: var(--form-label-font-size, calc(var(--size-400, 16px) - var(--size-100, 4px) / 2));

    &.success {
        color: var(--form-label-success, var(--accent-success-400));
    }
    
    &.error {
        color: var(--form-label-fail, var(--accent-fail-400));
    }
}

.message {
    display: flex;
    gap: var(--form-message-gap, var(--gap-100, 4px));
    align-items: center;
    margin: var(--form-mesage-margin, 0px);

    .icon {
        width: var(--form-message-icon-width, var(--size-400, 16px));
        height: var(--form-message-icon-height, var(--size-400, 16px));
    }

    .text {
        font-size: var(--form-message-text-size, var(--size-400, 16px));
    }

    &.success {
        color: var(--form-message-success, var(--accent-success-400));
    }

    &.error {
        color: var(--form-message-fail, var(--accent-fail-400));
    }
}

.actions {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: var(--form-action-padding-y, var(--padding-400, 16px)) var(--form-action-padding-x, var(--padding-600, 24px));
    background-color: var(--form-actions-background-color, var(--primary-background-100));
    border-top: 1px solid var(--form-actions-border-color, var(--primary-background-200));
}

&:has(.actions) {
    padding-bottom: var(--padding-1500, 60px);
}