.container {
    display: block;
}

.list {
    list-style: none;
    padding: 0;
}

.list-item {
    border-bottom: 1px solid var(--playlist-list-item-border-color, var(--primary-background-200));
    padding: var(--playlist-list-item-padding-y, var(--padding-300, 12px)) var(--playlist-list-item-padding-x, var(--padding-400, 16px));

    &:hover {
        background-color: var(--playlist-list-item-background-hover, var(--primary-background-200));
        color: var(--playlist-list-item-text-hover, var(--primary-text-400));
    }

}
.list-item-wrapper {
    display: flex;
    gap: var(--list-item-wrapper-gap, var(--gap-200, 8px));
    text-decoration: none;
    color: var(--list-item-wrapper-text-default, var(--primary-text-400));
}

.title {
    flex: 1 1 0%;
}