@import url("./../Cover/cover.module.css");

.container {
    display: flex;
    flex-direction: column;
    border-width: var(--card-border-width, 1px);
    border-style: var(--card-border-style, solid);
    border-radius: var(--card-border-radius, var(--radius-400, 8px));
    height: 100%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &[data-padding="0"] { 
        padding: 0;
    }
    &[data-padding="100"] {
        padding: var(--card-padding-100, var(--padding-100, 4px));
    }
    &[data-padding="200"] {
        padding: var(--card-padding-200, var(--padding-200, 8px));
    }
    &[data-padding="300"] {
        padding: var(--card-padding-300, var(--padding-300, 12px));
    }
    &[data-padding="400"] {
        padding: var(--card-padding-400, var(--padding-400, 16px));
    }
    &[data-padding="500"] {
        padding: var(--card-padding-500, var(--padding-500, 20px));
    }
    &[data-padding="600"] {
        padding: var(--card-padding-600, var(--padding-600, 24px));
    }

    &[data-gap="0"] {
        gap: var(--card-gap, 0);
    }
    &[data-gap="100"] {
        gap: var(--card-gap-100, var(--gap-100, 4px));
    }
    &[data-gap="200"] {
        gap: var(--card-gap-200, var(--gap-200, 8px));
    }
    &[data-gap="300"] {
        gap: var(--card-gap-300, var(--gap-300, 12px));
    }
    &[data-gap="400"] {
        gap: var(--card-gap-400, var(--gap-400, 16px));
    }
    &[data-gap="500"] {
        gap: var(--card-gap-500, var(--gap-500, 20px));
    }
    &[data-gap="600"] {
        gap: var(--card-gap-600, var(--gap-600, 24px));
    }

    &[data-radius="0"] {
        border-radius: var(--card-radius, 0);
    }
    &[data-radius="100"] {
        border-radius: var(--card-radius-100, var(--radius-200, 4px));
    }
    &[data-radius="200"] {
        border-radius: var(--card-radius-200, var(--radius-400, 8px));
    }
    &[data-radius="300"] {
        border-radius: var(--card-radius-300, var(--radius-600, 12px));
    }
    &[data-radius="400"] {
        border-radius: var(--card-radius-400, var(--radius-800, 16px));
    }
    &[data-radius="500"] {
        border-radius: var(--card-radius-500, var(--radius-1000, 20px));
    }
    &[data-radius="600"] {
        border-radius: var(--card-radius-600, var(--radius-1200, 24px));
    }


    &[data-variant="primary"] {
        &[data-shade="100"] {
            background-color: var(--card-background-default, var(--primary-background-100));
            border-color: var(--card-border-color, var(--primary-background-300));
        }

        &[data-shade="200"] {
            background-color: var(--card-background-default, var(--primary-background-200));
            border-color: var(--card-border-color, var(--primary-background-300));
        }
    }

    &[data-variant="secondary"] {
        &[data-shade="100"] {
            background-color: var(--card-background-default, var(--secondary-background-100));
            border-color: var(--card-border-color, var(--secondary-background-300));
        }

        &[data-shade="200"] {
            background-color: var(--card-background-default, var(--secondary-background-200));
            border-color: var(--card-border-color, var(--secondary-background-300));
        }
    }
    &[data-variant="ghost"] {
        border: none;
        background-color: transparent;
    }



    & > a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        height: 100%;
    }

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);

        @media (prefers-color-scheme: dark) {
            box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.1);
        }

        cursor: pointer;
    }
}

.header,
.content,
.footer {
    display: flex;
    flex-direction: column;
    &[data-padding="0"] {
        padding: var(--card-padding, 0);
    }
    &[data-padding="100"] {
        padding: var(--card-padding-100, var(--padding-100, 4px));
    }
    &[data-padding="200"] {
        padding: var(--card-padding-200, var(--padding-200, 8px));
    }
    &[data-padding="300"] {
        padding: var(--card-padding-300, var(--padding-300, 12px));
    }
    &[data-padding="400"] {
        padding: var(--card-padding-400, var(--padding-400, 16px));
    }
    &[data-padding="500"] {
        padding: var(--card-padding-500, var(--padding-500, 20px));
    }
    &[data-padding="600"] {
        padding: var(--card-padding-600, var(--padding-600, 24px));
    }

    &[data-gap="0"] {
        gap: var(--card-gap, 0);
    }
    &[data-gap="100"] {
        gap: var(--card-gap-100, var(--gap-100, 4px));
    }
    &[data-gap="200"] {
        gap: var(--card-gap-200, var(--gap-200, 8px));
    }
    &[data-gap="300"] {
        gap: var(--card-gap-300, var(--gap-300, 12px));
    }
    &[data-gap="400"] {
        gap: var(--card-gap-400, var(--gap-400, 16px));
    }
    &[data-gap="500"] {
        gap: var(--card-gap-500, var(--gap-500, 20px));
    }
    &[data-gap="600"] {
        gap: var(--card-gap-600, var(--gap-600, 24px));
    }

    &[data-radius="0"] {
        border-radius: var(--card-radius, 0);
    }
    &[data-radius="100"] {
        border-radius: var(--card-radius-100, var(--radius-100, 4px));
    }
    &[data-radius="200"] {
        border-radius: var(--card-radius-200, var(--radius-200, 8px));
    }
    &[data-radius="300"] {
        border-radius: var(--card-radius-300, var(--radius-300, 12px));
    }
    &[data-radius="400"] {
        border-radius: var(--card-radius-400, var(--radius-400, 16px));
    }
    &[data-radius="500"] {
        border-radius: var(--card-radius-500, var(--radius-500, 20px));
    }
    &[data-radius="600"] {
        border-radius: var(--card-radius-600, var(--radius-600, 24px));
    }
}

.header {
    aspect-ratio: 16/9;
}

.content {
    flex: 1 1 0%;
}

.content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--card-content-bottom-gap, var(--gap-200, 8px));
    height: 100%;
}

.footer {
    flex-direction: row;
    border-top: 1px solid var(--primary-background-300);
}

.footer-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: var(--card-footer-left-gap, var(--gap-100, 4px));
}

.footer-right {
    display: flex;
    align-items: center;
    gap: var(--card-footer-right-gap, var(--gap-100, 4px));
}

.cover {
    --width: attr(data-width);
    --height: attr(data-height);
    border: 0;
    border-radius: 0;
    width: var(--cover-width, var(--width, 100%));
    height: var(--cover-height, var(--height, 100%));
    aspect-ratio: 16/9;
    overflow: hidden;

}

.cover .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    gap: var(--card-info-gap, var(--gap-200, 8px));
}

.description {
    color: var(--card-description-color, var(--primary-text-500));
}

.metadata-list {
    display: flex;
    gap: var(--card-metadata-list-gap, var(--gap-300, 12px));
    list-style: none; 
    padding: 0;
    margin: 0;
}

.metadata-list-item {
    display: flex;
    align-items: center; 
    gap: var(--card-metadata-list-item-gap, var(--gap-100, 4px));
    font-size: var(--card-metadata-list-item-font-size, 14px);
    color: var(--card-metadata-list-item-color, var(--primary-text-500));
    & > svg {
        width: var(--card-metadata-list-item-icon-width, 14px);
        height: var(--card-metadata-list-item-icon-height, 14px);
        color: var(--card-metadata-list-item-icon-color, var(--accent-brand-400));
    }
}

.current-price {
    font-size: var(--card-current-price-font-size, var(--size-400, 16px));
    line-height: 1;
    color: var(--card-current-price-text-color, var(--primary-text-100));
}

.old-price {
    font-size: var(--card-old-price-font-size, var(--size-300, 12px));
    line-height: 1;
    text-decoration: line-through;
    color: var(--card-old-price-text-color, var(--primary-text-600));
}

.rating {
    display: flex;
}

.instructor {
    display: flex;
    gap: var(--card-instructor-gap, var(--gap-100, 4px));
    align-items: center;

}

.instructor-name,
.instructor-email {
    color: var(--card-instructor-name-text-color, var(--primary-text-600, #959595));
    font-size: 12px;
    max-width: 100px;
}

.progress {
    display: flex;
    flex-direction: column;
    gap: var(--card-progress-gap, var(--gap-100, 4px));
    flex-grow: 1;
}