.container {
    display: flex;
    flex-direction: row;
    gap: var(--gap-100, 4px);
    padding: 5px;
    border: 1px solid var(--primary-background-200);
    border-radius: var(--radius-400, 8px);

    &[data-mode="solid"] {
        background-color: var(--primary-background-300);
        border: 1px solid var(--primary-background-300);
    }

    &[data-mode="outline"] {
        background-color: transparent;
        border: 1px solid var(--primary-background-300);
    }
}