.container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-200, 8px);
}

.header {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-100, 4px);
}

.metadatas {
    display: flex;
    gap: var(--gap-300, 12px);
}

.metadata {
    color: var(--metadata-color, var(--primary-text-400));
}

.metadata+.metadata {
    &:before {
        content: "";
        display: inline-block;
        width: var(--size-200, 8px);
        height: var(--size-200, 8px);
        background-color: var(--metadata-separator-color, var(--primary-text-400));
        border-radius: 50%;
        margin-right: 12px;
    }
}