.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 16px 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}