.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-200, 8px);
    background-color: var(--primary-background-200);
    border-radius: var(--radius-200, 8px);
}

.bubble {
    width: 16px;
    height: 16px;
}