.container {
    display: grid;
    gap: var(--stepper-gap, var(--gap-500, 20px));
    grid-template-columns: 1fr min-content;

}

.steps {
    display: flex;
    gap: var(--stepper-steps-gap, var(--gap-200, 8px));
    list-style: none;
    padding: 0;
}

.step {
    position: relative;
    display: grid;
    gap: var(--gap-250);
    width: 100%;
    align-content: flex-end;

    .name {
        position: absolute;
        bottom: 0;
        visibility: hidden;
        transition: .3s ease-in-out;
    }

    .number {
        color: var(--text-color-500);
        font-weight: 600;
        text-transform: uppercase;
    }

    .button {
        cursor: pointer;
    }

    &:hover {
        .stepper-step-name {
            visibility: visible;
            bottom: 10px;
        }
    }
}

.controls {
    min-width: 280px;
    display: grid;
    gap: var(--stepper-controls-gap, var(--gap-300, 12px));
    grid-template-columns: 1fr 1fr;
}