html,
body,
:root {
    height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-font-family: "Roboto", sans-serif;
    --course-details-card-width: 380px;
}

*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	// border-radius: 10px;
	background-color: var(--scrollbar-track-background, var(--primary-background-200));
}

*::-webkit-scrollbar {
	width: 8px;
    height: 8px;
    &:hover {
        width: 16px;
        height: 16px;
    }
}

*::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--scrollbar-thumb-background, var(--primary-background-400));
    &:hover {
        height: 12px;
        cursor: pointer;
    }
}

*,
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: var(--body-font-size, var(--size-400, 16px));
    line-height: var(--body-line-height, 1.4);
    color: var(--body-text-color, var(--primary-text-500));
}

button {
    --webkit-appearance: button;
}

// h1,
// .h1 {
//     font-size: var(--h1-font-size, var(--size-700, 28px));
//     font-weight: var(--h1-font-weight, 700);
//     line-height: var(--h1-line-height, 1.2);
//     letter-spacing: var(--h1-letter-spacing, 1px);
//     color: var(--h1-text-color, var(--primary-text-100));
// }

// h2,
// .h2 {
//     font-size: var(--h2-font-size, var(--size-600, 24px));
//     font-weight: var(--h2-font-weight, 700);
//     line-height: var(--h2-line-height, 1.2);
//     letter-spacing: var(--h2-letter-spacing, 1px);
//     color: var(--h2-text-color, var(--primary-text-100));
// }

// h3,
// .h3 {
//     font-size: var(--h3-font-size, var(--size-500, 20px));
//     font-weight: var(--h3-font-weight, 700);
//     line-height: var(--h3-line-height, 1.2);
//     letter-spacing: var(--h3-letter-spacing, 1px);
//     color: var(--h3-text-color, var(--primary-text-100));
// }

// h4,
// .h4 {
//     font-size: var(--h4-font-size, var(--size-400, 16px));
//     font-weight: var(--h4-font-weight, 700);
//     line-height: var(--h4-line-height, 1.2);
//     letter-spacing: var(--h4-letter-spacing, 1px);
//     color: var(--h4-text-color, var(--primary-text-100));
// }

.flex {
    display: flex;
}

.gap-4 {
    gap: 4px;
}

.justify-content-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.layout {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    // &--two-cols {
    //     grid-template-columns: min-content auto;
    // }

    &_left {
        background-color: var(--layout-left-background, var(--primary-background-200));
    }

    &_right {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content calc(100% - 77px);
        flex-grow: 1;
        background-color: var(--layout-right-background, var(--primary-background-100));
        overflow: hidden;
    }
}

.tiptap {
    display: flex;
    flex-direction: column;
    gap: 4px;

    p.is-editor-empty:first-child,
    p.is-empty {
        padding-left: 32px;
        &::before {
            color: var(--tiptap-placeholder-text-color, var(--primary-text-600));
            content: attr(data-placeholder);
            float: left;
            height: 0;
            pointer-events: none;
        }
    }

        p {
        color: var(--tiptap-paragraph-text-color, var(--primary-text-100));
        line-height: var(--tiptap-paragraph-line-height, 1.4);

    }

    blockquote {
        border-left: 3px solid var(--tiptap-blockquote-border-color, var(--primary-background-300));
        background-color: var(--tiptap-blockquote-background, var(--primary-background-200));
        color: var(--tiptap-blockquote-text-color, var(--primary-text-500));
        margin: var(--tiptap-blockquote-margin, var(--padding-400, 16px)) 0;
        padding-top: var(--tiptap-blockquote-padding-top, var(--padding-400, 16px));
        padding-left: var(--tiptap-blockquote-padding-left, var(--padding-400, 16px));
        padding-bottom: var(--tiptap-blockquote-padding-bottom, var(--padding-400, 16px));

        &>* {
            color: inherit;
        }
    }

    pre {
        margin-top: var(--tiptap-pre-margin-top, var(--padding-400, 16px));
        margin-bottom: var(--tiptap-pre-margin-bottom, var(--padding-400, 16px));
        border-radius: var(--tiptap-pre-radius, var(--radius-200, 4px));
        padding: var(--tiptap-pre-padding, var(--padding-400, 16px));
        background-color: var(--tiptap-pre-background, var(--primary-background-200));
        color: var(--tiptap-pre-text-color, var(--primary-text-500));
        caret-color: #fff;

        .hljs-comment,
        .hljs-quote {
            --tw-text-opacity:1;
            color:rgb(163 163 163/var(--tw-text-opacity))
        }

        .hljs-attribute,
        .hljs-link,
        .hljs-name,
        .hljs-regexp,
        .hljs-selector-class,
        .hljs-selector-id,
        .hljs-tag,
        .hljs-template-variable,
        .hljs-variable {
            --tw-text-opacity:1;
            color:rgb(252 165 165/var(--tw-text-opacity))
        }

        .hljs-built_in,
        .hljs-builtin-name,
        .hljs-literal,
        .hljs-meta,
        .hljs-number,
        .hljs-params,
        .hljs-type {
            --tw-text-opacity:1;
            color:rgb(253 186 116/var(--tw-text-opacity))
        }
        
        .hljs-bullet,
        .hljs-string,
        .hljs-symbol {
            --tw-text-opacity:1;
            color:rgb(190 242 100/var(--tw-text-opacity))
        }

        .hljs-section,
        .hljs-title {
            --tw-text-opacity:1;
            color:rgb(253 224 71/var(--tw-text-opacity))
        }

        .hljs-keyword,
        .hljs-selector-tag {
            --tw-text-opacity:1;
            color:rgb(94 234 212/var(--tw-text-opacity))
        }

        .hljs-emphasis {
            font-style:italic
        }
        
        .hljs-strong {
            font-weight:700
        }
    }
}





// .link {
//     display: inline-block;
//     width: fit-content;
//     font-size: var(--link-font-size, calc(var(--size-400, 16px) - var(--size-100, 4px) / 2));
//     line-height: var(--link-line-height, 1);

//     &--primary {
//         color: var(--link-primary-text-default, var(--primary-text-400));
//         text-decoration: underline;

//         &:visited {
//             color: var(--link-primary-text-visited, var(--primary-text-300));
//         }

//         &:hover {
//             color: var(--link-primary-text-hover, var(--primary-text-500));
//             text-decoration: none;
//         }
//     }

//     &--accent {
//         color: var(--link-accent-text-default, var(--accent-brand-500));
//         text-decoration: underline;
//         transition: color .3s ease-in-out;

//         &:visited {
//             color: var(--link-accent-text-visited, var(--accent-brand-300));
//         }

//         &:hover {
//             color: var(--link-accent-text-hover, var(--accent-brand-600));
//             text-decoration: none;
//         }
//     }
// }

.rdp-day_button {
    background-color: #0000;
    border: none;
    padding: 8px;
    width: 100%;
    height: 100%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.loading-spinner {
    animation: Rotate 1000ms linear infinite;
}

.animate-in {
    animation: animate-in .2s ease-in-out;
}


@keyframes Rotate {
	to {
		transform: rotate(360deg);
	}
}

@keyframes animate-in {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes animate-out {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.95);
    }
}