@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-font-family: "Roboto", sans-serif;
}

*,
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

button {
    --webkit-appearance: button;
}

.flex {
    display: flex;
}

.gap-4 {
    gap: 4px;
}

.justify-content-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.layout {
    display: flex;
    grid-template-rows: 100%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    // &--two-cols {
    //     grid-template-columns: min-content auto;
    // }

    &_left {
        background-color: var(--layout-left-background, var(--primary-background-200));
    }

    &_right {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 64px calc(100% - 64px);
        flex-grow: 1;
        background-color: var(--layout-right-background, var(--primary-background-100));
        overflow: hidden;
    }
}

.link {
    display: inline-block;
    width: fit-content;

    &--primary {
        color: var(--link-primary-text-default, var(--primary-text-400));
        text-decoration: underline;

        &:visited {
            color: var(--link-primary-text-visited, var(--primary-text-300));
        }

        &:hover {
            color: var(--link-primary-text-hover, var(--primary-text-500));
            text-decoration: none;
        }
    }

    &--accent {
        color: var(--link-accent-text-default, var(--accent-brand-500));
        text-decoration: underline;
        transition: color .3s ease-in-out;

        &:visited {
            color: var(--link-accent-text-visited, var(--accent-brand-300));
        }

        &:hover {
            color: var(--link-accent-text-hover, var(--accent-brand-600));
            text-decoration: none;
        }
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}