// Sidebar
.sidebar {
    --sidebar-header-padding: var(--padding-400, 16px);
    --sidebar-body-padding: var(--padding-400, 16px);
    --sidebar-footer-padding: var(--padding-400, 16px);
    height: 100dvh;
    transition: width .3s ease-in-out, height .3s ease-in-out;
    overflow: hidden;

    &-content {
        display: grid;
        grid-template-rows: min-content auto min-content;
        height: 100%;
        background-color: var(--sidebar-background-color, var(--primary-background-200));
    }

    &-header {
        padding: var(--sidebar-header-padding);
    }

    &-body {
        display: flex;
        flex-direction: column;
        gap: var(--sidebar-body-gap, var(--gap-200, 8px));
        padding: var(--sidebar-body-padding);
    }

    &-footer {
        padding: var(--sidebar-footer-padding);
    }

    &-separator {
        width: 100%;
        height: 1px;
        background-color: var(--sidebar-separator, var(--primary-background-300));
    }

    &[data-state="collapsed"] {
        width: 78px;
    }

    &[data-state="expanded"] {
        width: 224px;
    }

    @media only screen and (min-width: 1920px) {
        &[data-state="expanded"] {
            width: 380px;
        }
    }

    &[data-device="mobile"] {
        // position: fixed;
        // inset: 0;
        // width: 100%;
        // z-index: 10;
        transition: none;
        overflow: hidden;

        .sidebar-content {
            position: fixed;
            top: 0;
            left: 0;
            width: 75%;
            max-width: 320px;
            transition: transform .3s ease-in-out;
            z-index: 10;
        }
        
        .sidebar-overlay {
            position: fixed;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(4px);
            transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
            z-index: 9;
        }

        &[data-state="collapsed"] {
            width: 0;
            // visibility: hidden;
            .sidebar-content {
                transform: translateX(-100%);
            }
            .sidebar-overlay {
                opacity: 0;
                visibility: hidden;
            }
        }

        &[data-state="expanded"] {
            width: 100%;
            .sidebar-content {
                transform: translateX(0);
            }
            .sidebar-overlay {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}


// Header

// .page {
//     &-header {
//         display: flex;
//         // grid-template-columns: min-content auto min-content;
//         align-items: center;
//         padding: var(--header-padding-y, var(--padding-400, 16px)) var(--header-padding-x, var(--padding-400, 16px));
//         border-bottom: 1px solid var(--header-border-bottom, var(--primary-background-200));
//         // min-height: 64px;

//         &-left,
//         &-right {
//             min-width: 220px;
//         }

//         &-center {
//             width: 100%;
//             display: flex;
//             justify-content: center;
//         }

//         &-right {
//             display: flex;
//             flex-direction: column;
//             align-items: flex-end;
//         }
//     }

//     &-body {
//         // display: grid;
//         // grid-template-rows: min-content 1fr min-content;
//         // grid-template-rows: auto;
//         display: flex;
//         flex-direction: column;
//         // flex: 1 1 0%;
//         width: 100%;
//         height: 100%;
//     }

//     &-toolbar {
//         display: flex;
//         align-items: center;
//         gap: var(--page-toolbar-gap, var(--gap-400, 16px));
//         padding: var(--page-toolbar-padding, var(--padding-400, 16px));
//         border-bottom: var(--page-toolbar-border-bottom, 1px solid var(--primary-background-200));

//         &-left {
//             flex: 1 1 0%;
//         }

//         &-right {
//             display: flex;
//             align-items: center;
//             gap: var(--page-toolbar-left-gap, var(--gap-200, 8px));
//         }
//     }

//     &-content {
//         display: flex;
//         // display: grid;
//         max-width: 1920px;
//         margin: 0 auto;
//         width: 100%;
//         height: 100%;
//         overflow: hidden;
//         &-left {
//             display: flex;
//             flex-direction: column;
//             flex: 1 1 0%;
//             width: 100%;
//             padding: var(--page-content-left-padding-y, 0) var(--page-content-left-padding-x, var(--padding-400, 16px));
//             // overflow-y: auto;
//         }
//         &-right {
//             display: flex;
//             flex-direction: column;
//             gap: var(--page-content-right-gap, var(--gap-600, 24px));
//             min-width: 320px;
//             max-width: 420px;
//             padding: var(--page-content-right-padding, var(--padding-400, 16px));
//             border-left: 1px solid var(--page-content-right-border-left, var(--primary-background-200));
//         }
//     }

//     &-controls {
//         border-top: var(--page-controls-border-top, 1px solid var(--primary-background-200));
//         padding: var(--page-controls-padding, var(--padding-400, 16px));
//     }
// }



@media only screen and (max-width: 768px) {
    .header {
        &_left,
        &_right {
            min-width: 60px;
        }
    }
}

.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &-inner {
        width: 100%;
        max-width: 420px;
    }
}

.social {
    position: relative;
    display: grid;
    gap: var(--social-gap, var(--gap-300, 12px));
    padding-top: var(--social-padding-top, var(--padding-600, 24px));
    &:before {
        content: "";
        width: var(--social-separator-before-widht, 100%);
        height: var(--social-separator-before-height, 1px);
        background-color: var(--social-separator-before-background, var(--primary-background-300));
        position: absolute;
        top: 0;
        left: 0;
    }
    &:after {
        content: "OR";
        position: absolute;
        top: 0;
        left: 50%;
        font-size: var(--social-separator-after-font-size, var(--size-300, 12px));
        line-height: var(--social-separator-after-line-height, var(--size-300, 12px));
        padding: var(--social-separator-after-padding, var(--padding-100, 4px));
        background-color: var(--social-separator-after-background, var(--primary-background-100));
        color: var(--social-separator-after-text-color, var(--primary-text-600));
        transform: translate(-50%, -50%);
    }
}


.form-details-item {
    background-color: red;
}

.data {
    &-toolbar {
        display: grid;
        gap: var(--data-table-toolbar-gap, var(--gap-300, 12px));
        padding: var(--data-table-toolbar-padding-y, var(--padding-400, 16px)) var(--data-table-toolbar-padding-x, var(--padding-600, 24px));
        &-row {
            display: grid;
            grid-template-columns: auto auto;
            gap: var(--data-table-toolbar-row-gap, var(--gap-300, 12px));

        }

        &-left {
            display: flex;
            gap: var(--data-table-toolbar-left-gap, var(--gap-200, 8px));
        }

        &-right {
            display: flex;
            gap: var(--data-table-toolbar-right-gap, var(--gap-300, 12px));
            justify-content: flex-end;
            align-items: center;
        }
        @media only screen and (max-width: 1024px) {
            padding: var(--data-table-toolbar-padding-y, var(--padding-400, 16px)) var(--data-table-toolbar-padding-x, var(--padding-400, 16px));
        }
    }
 
    &-table {
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
        width: 100%;
        height: 100%;
        padding: var(--data-table-padding-y, 0) var(--data-table-padding-x, var(--padding-600, 24px));
        overflow: hidden;

        &[data-device="mobile"] {
            gap: var(--data-table-mobile-gap, var(--gap-200, 8px));
        }
        
        &-list {
            display: flex;
            flex-direction: column;
            gap: var(--data-table-list-gap, var(--gap-300, 12px));
            list-style: none;
            padding: 0;
        }   

        @media only screen and (max-width: 1024px) {
            padding: var(--data-table-padding-y, 0) var(--data-table-padding-x, var(--padding-400, 16px));
        }
    }

    &-pagination {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--data-table-pagination-padding-y, var(--padding-400, 16px)) var(--data-table-pagination-padding-x, var(--padding-600, 24px));
        &-left {
            flex: 1 1 0%;
        }

        &-right {
            display: flex;
            align-items: center;
            gap: var(--data-table-pagination-right-gap, var(--gap-400, 16px));
        }

        &-rows-per-page {
            display: flex;
            align-items: center;
            gap: var(--data-table-pagination-rows-per-page-gap, var(--gap-200, 8px));
        }

        &-controls {
            display: flex;
            gap: var(--data-table-pagination-controls-gap, var(--gap-200, 8px));
        }
    }
}

.catalog {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    // gap: var(--data-table-gap, var(--gap-400, 16px));
    width: 100%;
    height: calc(100% - 66px);

    &-toolbar {
        display: grid;
        width: 100%;
        gap: var(--data-table-toolbar-gap, var(--gap-300, 12px));
        &-row {
            display: flex;
            gap: var(--data-table-toolbar-row-gap, var(--gap-300, 12px));
            justify-content: space-between;
        }

        &-left {
            display: flex;
            gap: var(--data-table-toolbar-left-gap, var(--gap-300, 12px));
            flex: 1 1 0%;
            justify-content: space-between;
        }

        &-right {
            display: flex;
            gap: var(--data-table-toolbar-right-gap, var(--gap-300, 12px));
            justify-content: flex-end;
            align-items: center;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
        overflow: hidden;
    }
}

.catalog {
    &-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        
        gap: var(--catalog-list-gap, var(--gap-400, 16px));
        list-style: none; 
        padding-top: var(--catalog-list-padding-top, var(--padding-200, 8px));
        padding-right: var(--catalog-list-padding-right, var(--padding-400, 16px));
        padding-left: var(--catalog-list-padding-left, var(--padding-400, 16px));
        padding-bottom: var(--catalog-list-padding-bottom, var(--padding-400, 16px));
        // margin-left: -12px;
        // margin-right: -12px;
        // overflow-y: auto;
        @media only screen and (max-width: 1024px) {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }
        @media only screen and (min-width: 1025px) {
            // grid-template-columns: repeat(3, 1fr);
            padding-top: var(--catalog-list-padding-top, var(--padding-300, 12px));
            padding-right: var(--catalog-list-padding-right, var(--padding-600, 24px));
            padding-left: var(--catalog-list-padding-left, var(--padding-600, 24px));
            padding-bottom: var(--catalog-list-padding-bottom, var(--padding-600, 24px));
        }
        @media only screen and (min-width: 1441px) {
            // grid-template-columns: repeat(4, 1fr);
        }
        @media only screen and (min-width: 1921px) {
            // grid-template-columns: repeat(5, 1fr);
        }
    }
}

.category-filter {
    width: 100%;
    // margin-bottom: var(--category-filter-margin-bottom, var(--size-200, 8px));
    &-list {
        display: flex;
        gap: var(--category-filter-list-gap, var(--gap-200, 8px));
        padding-top: var(--category-filter-padding-top, var(--padding-600, 24px));
        padding-right: var(--category-filter-padding-right, var(--padding-400, 16px));
        padding-left: var(--category-filter-padding-left, var(--padding-400, 16px));
        padding-bottom: var(--category-filter-padding-bottom, var(--padding-300, 12px));
        list-style: none;

        &-item {
            display: inline-flex;
            align-items: center;
            a {
                display: inline-flex;
                text-decoration: none;
            }
        }

        @media only screen and (min-width: 1025px) {
            padding-right: var(--category-filter-padding-right, var(--padding-600, 24px));
            padding-left: var(--category-filter-padding-left, var(--padding-600, 24px));
        }
    }
}

.course-header {
    display: flex;
    flex-direction: column;
    gap: var(--course-header-gap, var(--gap-300, 12px));
    &-title,
    &-description {
        // display: flex;
        // align-items: center;
        // gap: var(--course-header-title-gap, var(--gap-200, 8px));
        & > h1,
        & > p {
            display: inline;
        }

        &-edit {
            display: inline-flex;
            margin-left: var(--course-header-edit-margin-left, var(--size-200, 8px));
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
        }
        &:hover {
            .course-header-title-edit,
            .course-header-description-edit {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &-metadata {
        display: flex;
        align-items: center;
        gap: var(--course-header-metadata-gap, var(--gap-300, 12px));
    }
}

.course-details {
    display: flex;
    flex-direction: column;
    gap: var(--course-details-gap, var(--gap-400, 16px));
    &-header { 
        display: flex;
        flex-direction: column;
        gap: var(--course-details-header-gap, var(--gap-300, 12px));
        
        &-metadata {
            display: flex;
            align-items: center;
            gap: var(--course-details-header-metadata-gap, var(--gap-300, 12px));
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        gap: var(--course-details-body-gap, var(--gap-400, 16px));
        padding: var(--course-details-body-padding-y, var(--padding-400, 16px)) var(--course-details-body-padding-x, var(--padding-600, 24px));
    }

    &-card {
        display: flex;
        flex-direction: column;
        gap: var(--course-details-card-gap, var(--gap-300, 12px));
        width: var(--course-details-card-width, 280px);
        border-radius: var(--course-details-card-border-radius, var(--radius-600, 12px));
        // box-shadow: 0 0 8px 0 rgba(148, 38, 38, 0.2);

        &-middle {
            display: flex;
            flex-direction: column;
            gap: var(--course-details-card-middle-gap, var(--gap-400, 16px));
            
        }
        &-actions {
            display: flex;
            gap: var(--course-details-card-bottom-gap, var(--gap-300, 12px));
        }

        &-price {
            display: flex;
            justify-content: space-between;
            &-left,
            &-right {
                display: flex;
                align-items: center;
                gap: var(--gap-100, 4px);
            }
            &-new {
                color: var(--course-details-card-price-new-text-color, var(--accent-brand-400));
                letter-spacing: var(--course-details-card-price-new-letter-space, 0);
            }
            &-old {
                font-size: var(--course-details-card-price-old-font-size, var(--size-400, 16px));
                line-height: var(--course-details-card-price-old-line-height, 1);
                color: var(--course-details-card-price-old, var(--primary-background-400));
                text-decoration: line-through;
            }
        }

        &-metadata {
            display: none;
            &-list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: var(--course-details-card-metadata-list-gap, var(--gap-400, 16px));
                list-style: none;
                padding: 0;
                margin: 0;
                &-item {
                    display: flex;
                    align-items: center;
                    gap: var(--course-details-card-metadata-list-item-gap, var(--gap-300, 12px));
                    padding: var(--course-details-card-metadata-list-item-padding-y, var(--padding-200, 8px)) var(--course-details-card-metadata-list-item-padding-x, var(--padding-400, 16px));
                    border-width: var(--course-details-card-metadata-list-item-width, 1px);
                    border-style: var(--course-details-card-metadata-list-item-style, solid);
                    border-color: var(--course-details-card-metadata-list-item-color, var(--primary-background-300));
                    border-radius: var(--course-details-card-metadata-list-item-radius, var(--radius-400, 8px));
                }
                
                .card {
                    border: none;
                }
            }
            &-left {
                display: flex;
                align-self: center;
                color: var(--course-details-card-metadata-left-icon-text-color, var(--accent-brand-400));
            }
            &-right {
                display: flex;
                flex-direction: column;
            }
            &-label {
                color: var(--course-details-card-metadata-label-text-color, var(--primary-text-500));
                font-size: var(--course-details-card-metadata-label-font-size, var(--size-400, 16px));
                font-weight: var(--course-details-card-metadata-label-font-weight, 400);
                line-height: var(--course-details-card-metadata-label-line-height, var(--size-500, 20px));
                letter-spacing: var(--course-details-card-metadata-label-letter-spacing, 0.8px);
            }
            &-value {
                color: var(--course-details-card-metadata-value-text-color, var(--primary-text-400));
                font-size: var(--course-details-card-metadata-value-font-size, var(--size-400, 16px));
                font-weight: var(--course-details-card-metadata-value-font-weight, 700);
                line-height: var(--course-details-card-metadata-value-line-height, var(--size-500, 20px));
                letter-spacing: var(--course-details-card-metadata-value-letter-spacing, 0.8px);
            }
        }
    }

    &-form {
        padding: var(--course-details-form-padding-y, var(--padding-400, 16px)) var(--course-details-form-padding-x, var(--padding-600, 24px));
    }

    &-breadcrumb {
        &-mobile {
            display: none;
        }
    }
    

    @media only screen and (min-width: 1025px) {
        &-header { 
            padding-right: calc(var(--course-details-card-width, 380px) + 40px);
        }
        &-body {
            padding-right: calc(var(--course-details-card-width, 380px) + 40px);
        }
        &-card {
            position: fixed;
            top: 94px;
            right: 24px;
            gap: 0;
            width: var(--course-details-card-width, 380px);
            background-color: var(--course-details-card-background-color, var(--primary-background-100));
            border-width: var(--course-details-card-border-width, 1px);
            border-style: var(--course-details-card-border-style, solid);
            border-color: var(--course-details-card-border-color, var(--primary-background-300));
            &-top {
                padding: var(--course-details-card-top-padding-y, var(--padding-400, 16px)) var(--course-details-card-top-padding-x, var(--padding-400, 16px));
            }
            &-middle {
                padding: var(--course-details-card-middle-padding-y, 0) var(--course-details-card-middle-padding-x, var(--padding-400, 16px));
                .course-details-card-metadata {
                    display: block;
                }
            }
            &-actions {
                padding: var(--course-details-card-bottom-padding-y, var(--padding-400, 16px)) var(--course-details-card-bottom-padding-x, var(--padding-400, 16px));  
            }
        }  

        @media (prefers-color-scheme: dark) {
            background-color: var(--course-details-card-background-color, var(--primary-background-200));
        }
    } 

    @media only screen and (max-width: 1024px) { 
        &-body {
            padding: var(--course-details-body-padding-y, var(--padding-400, 16px)) var(--course-details-body-padding-x, var(--padding-400, 16px));  
            .course-details-card-metadata { 
                display: block; 
                &-list { 
                    grid-template-columns: repeat(4, 1fr);
                }
            }
        }
        &-form {
            padding: var(--course-details-form-padding-y, var(--padding-400, 16px)) var(--course-details-form-padding-x, var(--padding-400, 16px));
        }
    }

    @media only screen and (max-width: 800px) {
        &-body {
            .course-details-card-metadata {
                &-list {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }

    @media only screen and (max-width: 600px) {
        &-breadcrumb {
            &-desktop {
                display: none;
            }
            &-mobile {
                display: block;
            }
        }

        &-card {
            width: 100%;
            position: relative;
            z-index: 2;
            &-top {
                display: flex;
                flex-direction: column;
                gap: var(--gap-400, 16px);
            }
            &-bottom {
                position: relative;
                z-index: 10;
            }
            &-actions {
                position: fixed;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 16px;
                background-color: var(--primary-background-100);
                border-top: 1px solid var(--primary-background-300);
            }
        }

        &-body {
            padding-bottom: 92px !important;
        }
    }
} 


.metadata { 
    display: flex; 
    flex-direction: column; 
    gap: var(--metadata-gap, var(--gap-300, 12px));  

    &-title {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        gap: var(--metadata-title-gap, var(--gap-200, 8px));
    }
    
    &-content { 
        display: flex;
        flex-direction: column;
        gap: var(--metadata-content-gap, var(--gap-300, 12px));
    }

    &-row { 
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 36px;
        align-items: flex-end;
        gap: var(--metadata-row-gap, var(--gap-300, 12px)); 
    }
    &-form {
        display: flex;
        flex-direction: column;
        gap: var(--metadata-content-gap, var(--gap-300, 12px));
    }
}

