.layout {
    width: 100%;
    height: 100%;
    &--auth {
        display: flex;
        flex-direction: column;
        background-color: var(--layout-auth-background-color, var(--accent-brand-400));

        .layout-left,
        .layout-right {
            display: flex;
            flex-direction: column;
            padding: var(--layout-auth-left-padding, var(--padding-600, 24px));
            overflow-y: auto;
        }
        .layout-left {
            gap: var(--layout-left-gap, var(--gap-400, 16px));
            overflow-y: auto;
        }
        .layout-right {
            flex: 1 1 0%;
            background-color: var(--layout-auth-right-background-color, var(--primary-background-100));
            border-radius: var(--layout-auth-right-border-radius, var(--radius-600, 12px)) var(--layout-auth-right-border-radius, var(--radius-600, 12px)) 0 0;
            box-shadow: 0px -8px 12px 4px rgba(0, 0, 0, 0.10);
            animation: slide-in-from-bottom .5s ease-in-out;
        }

        .logo {
            img {
                width: auto;
            }
        }

        .layout-auth-details {
            display: flex;
            flex-direction: column;
            gap: var(--layout-auth-details-gap, var(--gap-300, 12px));
        }
        .layout-auth-title {
            color: var(--layout-auth-title-text-color, var(--accent-brand-100));
            font-size: var(--layout-auth-title-font-size, var(--size-800, 32px));
        }
        .layout-auth-description {
            color: var(--layout-auth-description-text-color, var(--accent-brand-200));
        }
        @media only screen and (min-width: 768px) {
            flex-direction: row;
            padding: var(--layout-auth-padding, var(--padding-400, 16px));
            background-color: var(--layout-auth-background-color, var(--primary-background-100));
            .layout-left {
                max-width: 380px;
                background-color: var(--layout-auth-left-background-color, var(--accent-brand-400));
                border-radius: var(--layout-auth-right-border-radius, var(--radius-800, 16px));
                justify-content: space-between;
            }
            .layout-right {
                box-shadow: none;
            }
        }
        @media only screen and (min-width: 1025px) {
            .layout-left {
                max-width: 640px;
            }
        }
    }

}

.header {
    display: flex;
    gap: var(--header-gap, var(--gap-400, 16px));
    align-items: center;
    padding: var(--header-padding-y, var(--padding-400, 16px)) var(--header-padding-x, var(--padding-200, 8px));
    border-bottom: 1px solid var(--header-border-bottom, var(--primary-background-200));
    // min-height: 64px;
    &-left {
        flex: 1 1 0%;
    }
    &-center {
        // width: 100%;
        display: flex;
        justify-content: center;
    }

    &-right {
        display: flex;
        flex: 1 1 0%;
        align-items: center;
        justify-content: flex-end;
        gap: var(--header-right-gap, var(--gap-300, 12px));
    }
    @media only screen and (min-width: 1025px) {
        padding: var(--header-padding-y, var(--padding-400, 16px)) var(--header-padding-x, var(--padding-600, 24px));
    }
}

.body {
    // display: grid;
    // grid-template-rows: min-content 1fr min-content;
    // grid-template-rows: auto;
    display: flex;
    flex-direction: column;
    // flex: 1 1 0%;
    width: 100%;
    height: 100%;
    &-toolbar {
        position: relative;
        display: flex;
        align-items: center;
        gap: var(--page-toolbar-gap, var(--gap-400, 16px));
        padding: var(--page-toolbar-padding-y, var(--padding-400, 16px)) var(--page-toolbar-padding-x, var(--padding-400, 16px));
        border-bottom: var(--page-toolbar-border-bottom, 1px solid var(--primary-background-200));
        z-index: 1;
    
        &-left {
            flex: 1 1 0%;
        }
    
        &-right {
            display: flex;
            align-items: center;
            gap: var(--page-toolbar-left-gap, var(--gap-200, 8px));
        }
        &:before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--primary-background-200);
            opacity: 0.3;
            z-index: 0;
        }
        & > * {
            position: relative;
            z-index: 1;
        }
        @media only screen and (min-width: 1025px) {
            padding: var(--page-toolbar-padding-y, var(--padding-400, 16px)) var(--page-toolbar-padding-x, var(--padding-600, 24px));
        }
    }
    
    &-content {
        display: flex;
        flex-direction: column;
        max-width: 1920px;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        overflow: hidden;
        &-left {
            display: flex;
            flex-direction: column;
            flex: 1 1 0%;
            width: 100%;
            height: 100%;
            // padding: var(--page-content-left-padding-y, 0) var(--page-content-left-padding-x, var(--padding-400, 16px));
            // overflow-y: auto;
        }
        &-right {
            display: flex;
            flex-direction: column;
            // gap: var(--page-content-right-gap, var(--gap-600, 24px));
            min-width: 320px;
            max-width: 420px;
            // padding: var(--page-content-right-padding, var(--padding-400, 16px));
            border-left: 1px solid var(--page-content-right-border-left, var(--primary-background-200));
        }

        @media only screen and (min-width: 1024px) {
            flex-direction: row;
        }
    }
    
    &-controls {
        border-top: var(--page-controls-border-top, 1px solid var(--primary-background-200));
        padding: var(--page-controls-padding-y, var(--padding-400, 16px)) var(--page-controls-padding-x, var(--padding-600, 24px));
    }

    @media only screen and (min-width: 768px) {

    }
}



.catalog {
    &_cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }   
}


@keyframes slide-in-from-bottom {
    from {
        transform: translateY(100%);
    } to {
        transform: translateY(0);
    }
}