.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--toolbar-gap, var(--gap-200, 8px));
    width: 500px;
    padding: var(--tabs-padding-top, var(--padding-200, 8px)) var(--tabs-padding-right, var(--padding-200, 8px)) var(--tabs-padding-bottom, var(--padding-200, 8px)) var(--tabs-padding-left, var(--padding-200, 8px));
    border-width: var(--tabs-border-width, 1px);
    border-style: var(--tabs-border-style, solid);
    border-color: var(--tabs-border-color, var(--primary-background-300));
    border-radius: var(--tabs-border-radius, var(--radius-600, 8px));
    background-color: var(--taba-background-color, var(--primary-background-100));
    margin-top: 24px;
}

.button {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--button-accent-brand-background-default, var(--accent-brand-400));
    border-color: var(--button-accent-brand-border-default, var(--accent-brand-400));
    color: var(--button-accent-brand-text-default, var(--accent-brand-400));
    border-radius: 50% !important;
    &:hover {
        background-color: var(--button-accent-brand-background-hover, var(--accent-brand-400));
        border-color: var(--button-accent-brand-border-hover, var(--accent-brand-400));
        color: var(--button-accent-brand-text-hover, var(--accent-brand-100));
        cursor: default;
    }
}